nav {
    min-height: 10vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background-color: #6f2232;

    ul{
        display: flex;
       list-style-type: none;
       font-family: 'Poppins', sans-serif;

       li{
        padding-left: 5rem;
        position: relative;
       }
    }

    a{
        color:white;
        text-decoration: none;
    }
}

#logo {
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Bebas Neue', cursive;
}