.WhoIsAldo {
    min-height: 90vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    color: white;
}

.description {
padding-right: 5rem;
}

.text {
    font-size: 18px;
}

.image {
    display: flex;
    justify-content: space-around;    
}

.aldoBeach {
    width: 35vw;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

hr {
    width: 95%;
}

#collaborations {
    padding-top: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

#myInfo {
    font-size: 20px;
}

.home-button a:hover{
    text-decoration: none;
}

.home-button a:link{
    text-decoration: none;
}




