.about {
    min-height: 90vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    color: white;
}

.description {
    padding-right: 5rem;    
}

.first-heading {
    font-weight: lighter;
}


.image {
    display: flex;
    justify-content: space-around;
}

.aldo {
    width: 35vw;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

.hide {
    overflow: hidden;
}
