.principles {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5rem 10rem;  
    color: white;
    background-color: #333333;
}

.description {
    padding-right: 5rem;
}
    
.second-heading {
    font-weight: lighter;
    font-size: 3rem;
    padding-bottom: 5vh;
    color: white;
}


.image {
    display: flex;
    justify-content: space-around;    
}

.flower-shot {
    width: 35vw;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

.hide {
    overflow: hidden;
}

.text {
    font-size: 18px;
    padding-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-basis: 15rem;
    padding: 1rem;

    .icon {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 1.5rem ;
        font-family: 'Cinzel Decorative', cursive;
    h3 {
        margin-left: 1rem;
        color: white;
        padding: 1rem;
    }
  }
}


